@page
@model ManageEmployeeVacation.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Hello  @Html.DisplayFor(model => model.Employee.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DOB)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VactationCasualBalance)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.VactationCasualBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VactationCasualUsed)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.VactationCasualUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VactationScheduleBalance)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.VactationScheduleBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VactationScheduleUsed)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Employee.VactationScheduleUsed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a> | 
    <a asp-page="./Leave">Ask for a Scheduled leave</a> | 
    <a asp-page="./Leave">Ask for a Casual leave</a>
</div>
